
header{
    background: white;
	font-family: 'Courier New', Courier, monospace;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
#logo{
	width: 20%
}
#titulo {
position: absolute;
top: 0px;
right: 10px;

}